body {
  background-color: white;
  margin: 3%;
}
.jumbotron {
  background-color: blue;
  opacity: 0.8;
  color: white;
}
.center {
  justify-content: center;
}
.form {
  background-color: #f0ad4e;
  padding: 1%;
  margin: 2%;
  margin-bottom: 1%;
}
#signInTitle {
  justify-self: center;
  color: white;
  padding: 2%;
  display: inline;
  justify-self: center;
}
.signInBtns {
  justify-content: space-around;
  display: flex;
  margin: 2%;
  width: 15%;
}
input {
  margin-bottom: 1%;
}
.shuttle{
  color:white;
}
.search{
  justify-content: space-around;
  display:inline-flex;
}
#results{
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}

#navbar-title{
  margin-left:3%;
}