.form-row {
  position: absolute;
  top: 40vh;
  z-index: 2;
  color: white;
  width: 95vw;
  /* background-color: rgba(119,136,153,30%) */
}


.cardZone {
  z-index: 2;
}

.card {
  opacity: 0.8;
  color: black;

form {
  width: 300px;

}

* {
  margin: 0; padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#container {
  overflow: hidden;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
}
#background_video {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  height: 100%; width: 100%;
}
#video_cover {
  position: absolute;
  width: 100%; height: 100%;
  background: url('../images/thebots-blinded_moment2.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}
.view {
  background: url("https://mdbootstrap.com/img/Photos/Others/img (40).jpg")no-repeat center center;
}

.navbar {
  background-color: transparent;
}

.top-nav-collapse {
  background-color: #4285F4;
}

@media only screen and (max-width: 768px) {
  .navbar {
      background-color: #4285F4;
  }
}

@media only screen and (max-height: 540px) {
  .form-row {
    position: absolute;
    top: 15px;
  }
}
