body {
  background-color: #CCC;
  font-family: 'Arvo', Arial, Arial, Helvetica, sans-serif;
  padding-bottom: 20px;
}

h1 {
  width: 100%;
  background: khaki;
  font-weight: bold;
  color: maroon;
  text-align: center;
  line-height: 1.5;
  font-family: 'Megrim', cursive;
  font-size: 60px;
  margin-bottom: 20px;
}

#song-search-form {
  background: white;
  border: 1px #888 solid;
  border-radius: 10px;
  padding: 10px 20px;
}

#last-song-div {
  background: rgb(172, 236, 172);
  border: 1px #888 solid;
  border-radius: 10px;
  padding: 10px 20px;
  height: 180px;
  margin-top: 20px;
  text-align: center;

}

#last-song-p {
  margin-top: 10px;
  font-weight: bold;
  font-size: 25px;
}

#instructions {
  background: #FF6F61;
  border: 1px #888 solid;
  border-radius: 10px;
  padding: 10px 20px;
  margin-top: 20px;
  text-align: center;
}

#instructions p {
  line-height: 2;
}

#comment-log {
  background: lightskyblue;
  text-align: center;
  padding: 20px;
  border: 1px #777 solid;
  border-radius: 10px;
  height: 500px;
  margin-top: 20px;
}

#commentForm {
  background: lightyellow;
  padding: 20px;
  border: 1px #777 solid;
  border-radius: 10px;
  width: 100%;
  margin-top: 20px;
}

h2 {
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-weight: normal;
  color: #383838;

}

input, select {
  margin-top: 5px;
  border: 1px solid #383838 !important;
}

#submit-button {
  width: 100px;
  font-weight: bold;
  background: lightgreen;
  border: none;
  margin-top: 5px;
  color: #383838;
}

#submitBtn {
  width: 100px;
  font-weight: bold;
  background: lightskyblue;
  border: none;
  color: #383838;
}

#original-lyrics-display {
  margin: 30px auto;
  padding: 15px;
  text-align: center;
  line-height: 3;
  background: lightskyblue;
  width: 500px;
}

#translated-lyrics-display {
  margin: 30px auto;
  padding: 15px;
  text-align: center;
  line-height: 3;
  background: lightgreen;
  width: 500px;
}

#song-name-display {
  margin: 30px auto;
  text-align: center;
  line-height: 2;
  background: #2E4A62;
  color: white;
  font-size: 35px;
  font-weight: bold;
  width: 100%;
}



#language-display {
  margin: 30px auto;
  text-align: center;
  line-height: 2;
  background: #B4B7BA;
  color: #383838;
  font-size: 25px;
  font-weight: bold;
  width: 100%;
}

#videos-display {
  text-align: center;
}

#cnameerror {
  color: red;
}

#cemail-error {
  color: red;
}

.row.make-columns > div {
  display: inline-block;
  padding:  .5rem;
  width:  100%;
}

textarea {
  border: 1px black solid;
  border-radius: 6px;
  font-size: 20px;
  padding: 7px 15px;
  margin-top: 5px;
  width: 100%;
}

#results-display {
  background: #efefef;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px #777 solid;
  border-radius: 10px;
}

.lyrics-headers {
  font-size: 22px;
  font-weight: bold;
}
