body {
  background-color: darkgray;
  font-family: 'Quicksand', sans-serif;
  text-shadow: 1px 1px #7e7373af;

}
#legend{
  text-align: center;
  font-size: 25px;
  border-style: solid;
  color: black;
  padding-bottom: 300px;
}
button{
  margin-top: 10px;
}
#footer{
  background-image: linear-gradient(#257ee4, #333685);
  padding: 25px;
}
#header{

  background-image: linear-gradient(#257ee4, #333685);
}
