body {
  background-color: darkgray;
}

h1 {
  width: 100%;
  background: khaki;
  font-weight: bold;
  color: maroon;
  text-align: center;
  line-height: 1.5;
  font-family: 'Megrim', cursive;
  font-size: 60px;
  margin-bottom: 20px;
}

form {
  text-align: center;
}

form input, select {
  margin-top: 5px;
}

#original-lyrics-display {
  margin-top: 30px;
  margin-right: 10px;
  margin-left: auto;
  margin-bottom: 30px;
  padding: 15px;
  text-align: center;
  line-height: 3;
  background: lightskyblue;
  font-weight: bold;
  width: 500px;
  font-family: 'Andika', sans-serif;
}

#translated-lyrics-display {
  margin-top: 30px;
  margin-left: 10px;
  margin-right: auto;
  margin-bottom: 30px;
  padding: 15px;
  text-align: center;
  line-height: 3;
  background: lightgreen;
  font-weight: bold;
  width: 500px;
  font-family: 'Andika', sans-serif;
}

#song-name {
  margin: 30px auto;
  text-align: center;
  line-height: 2;
  background: maroon;
  color: white;
  font-size: 35px;
  font-weight: bold;
  width: 100%;
  font-family: 'Andika', sans-serif;
}

#language-display {
  margin: 30px auto;
  text-align: center;
  line-height: 2;
  background: darkgreen;
  color: white;
  font-size: 25px;
  font-weight: bold;
  width: 100%;
  font-family: 'Andika', sans-serif;
}

#videos-go-here {
  text-align: center;
}
