.calendar-row,
.login-material {
  position: absolute;
  /* top: 40vh; */
  z-index: 2;
  color: white;
  width: 95vw;
  /* background-color: rgba(119,136,153,30%) */
}

.container {
  background: transparent;
}

.form-row {
  /* position: absolute; */
  /* top: 40vh; */
  /* z-index: 2; */
  color: white;
  /* overflow: hidden; */
  /* width: 95vw; */
  width: 100%;
}

button {
  margin: 2px;
  opacity: 0.9;
  border-color: aliceblue;
  color: rgba(53, 49, 49, 0.363);
}


.cardZone {
  z-index: 2;
}
.card-header {
background-color: rgba(54, 53, 53, 0.863);
}
.card-body {
  background-color: rgba(53, 49, 49, 0.363);
}
.card-header > eventTitle {
  font-weight: bolder;
}

.card {
  opacity: 0.8;
  color: black;
}

form {
  /* width: 300px; */
}

* {
  margin: 0; padding: 0;
}

.form-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#container {
  overflow: hidden;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
}
#background_video {
  position: absolute;
  width: 125%;
  height: auto;
  /* background: url(../images/thebots-blinded_moment2.jpg) no-repeat; */
  background-size: cover;
  background-position: center;
  top: 0;
  left: -12.5%;
  z-index: -1;
}
#video_cover {
  position: absolute;
  width: 100%; height: 100%;
  /* background: url('../images/thebots-blinded_moment2.jpg') no-repeat; */
  background-size: cover;
  background-position: center;
}

.view {
  background: url("https://mdbootstrap.com/img/Photos/Others/img (40).jpg")no-repeat center center;
}

.navbar {
  background-color: transparent;
}

.top-nav-collapse {
  background-color: rgba(252, 252, 253, 0);
}

@media only screen and (max-width: 768px) {
  .navbar {
      background-color: rgba(252, 252, 253, 0);
  }
}

@media only screen and (max-height: 540px) {
  .form-row {
    position: absolute;
    top: 15px;
  }
}

@media only screen and (max-width: 1050px) {
  #background_video {
    display: none;
  }

  body {
    background: url('../images/thebots-blinded_Moment3.jpg') no-repeat fixed center;
  }

  .form-row {
    margin-top: 30vh;
  }
}

#map {
  height: 400px;
  width: 100%;
}
